<h1>
  {{title}}
</h1>
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="	glyphicon glyphicon-menu-down"></span>
                    Menu
                </button>
    <a class="navbar-brand" [routerLink]="['home']">Site Header</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li  class="nav-item">
        <a [routerLink]="['/home']">go home</a>
      </li>
      <li  class="nav-item">
        <a [routerLink]="['/about']">go about</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>